@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

@theme {
  --font-sans: "Montserrat", "Padauk", sans-serif;
  --font-oswald: "Oswald", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @variant sm {
    max-width: 640px;
  }
  @variant md {
    max-width: 768px;
  }
  @variant lg {
    max-width: 900px;
  }
  @variant xl {
    max-width: 1024px;
  }
  @variant 2xl {
    max-width: 1280px;
  }
}

/* Preline UI */
@source "../node_modules/preline/dist/*.js";
@import "../node_modules/preline/variants.css";

/* Plugins */
@plugin "@tailwindcss/forms";

/* Adds pointer cursor to buttons */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

/* Defaults hover styles on all devices */
@custom-variant hover (&:hover);

.swal2-popup {
  @apply rounded-xl max-w-[300px] sm:max-w-[400px] font-sans dark:bg-zinc-700 dark:text-neutral-300;
}

.swal2-confirm {
  @apply px-3 py-2.5 ml-2 bg-blue-500 text-white dark:bg-blue-500 dark:text-white rounded-md hover:bg-blue-600 dark:hover:bg-blue-600 hover:shadow-sm active:scale-95 duration-300 transition-all;
}

.swal2-cancel {
  @apply px-3 py-2.5 bg-neutral-200 text-neutral-800 dark:bg-zinc-800 dark:text-neutral-200 rounded-md hover:bg-neutral-300 hover:shadow-sm active:scale-95 duration-200 transition-all;
}

.container-lg {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

@keyframes record-hightlight {
  0%{
    background-color: #fefadaa4;
  } 
  100%{
    background-color: transparent;
  }
}

.product-highlight {
  animation: record-hightlight 0.5s ease-out;
}

@media print {
  /* Hide any non-essential UI */
  footer,
  .no-print {
    display: none !important;
  }

  /* Remove scrolling wrappers */
  .overflow-x-auto,
  .overflow-auto,
  .overflow-hidden,
  .inline-block,
  .min-w-full {
    overflow: visible !important;
    display: block !important;
    width: 100% !important;
  }

  /* Force table and cells to fit nicely */
  table {
    width: 100% !important;
    border-collapse: collapse !important;
  }

  th,
  td {
    padding: 12px !important;
    text-align: left !important;
    font-size: 14px !important;
    white-space: nowrap;
  }

  /* Fix shrinking on some columns */
  th,
  td {
    max-width: none !important;
  }

  /* Body/Page adjustments */
  html,
  body {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}
